Django>=5.2.7
djangorestframework
djangorestframework-simplejwt
Pillow
django-cors-headers
drf-spectacular
django-extensions
selenium
pytest
pytest-django
pytest-cov  
pytest-xdist
django-environ
debugpy
psycopg2-binary
requests_mock
requests
webdriver-manager
schemathesis
pytest_bdd
openapi-python-client
datamodel-code-generator
pydantic[email]
allure-pytest
    
